// SIDEBAR
.sidebar {
    height: 100%;
    width: 20%;
    background: var(--background-medium);
}
.mobileSidebar {
    display: none !important;
    background: var(--background-medium);
    z-index: 10;
    width: 100%;
    height:100%;
    position: fixed;
    top: 0;
    left:0;
    padding: 0.5rem !important
}

.header {
    width: 100%;
    justify-content: center !important;
}
.headerIcon {
    color: var(--primary);
    display: none !important;
}
.dash {
    width: 80%;
    height: 1px;
    background: var(--primary);
}
@media screen and (max-width: 768px) {
    .sidebar {
        display: none!important;
    }
    .mobileSidebar {
        display: flex !important;
    }
    .header {
        justify-content: space-between !important;

    }
    .headerIcon {
        display: flex !important;
    }    
}
.menu {
    width: 80%;
    padding: 1rem 0;
}
.menuItemContainer {
    width: 100%;
    padding: 0.1rem 1rem !important;
}

.menuItem {
    border-radius: 0.5rem;
    color: var(--primary);
    font-size: 1.1rem !important;
    padding: 0.75rem;
    width: 100%;
    cursor: pointer;
    &:hover{
        background: var(--primary);
        color: var(--background-light);
    };
    path {
        fill: var(--primary);
    }
    &:hover {
        path {
            fill: var(--background-light);
        }    
    }    

}
.menuIcon {
    padding: 0 1rem !important;
}


@media screen and (max-width: 1250px) {
    .menuIcon {
        padding: 0 0.75rem !important;
    }
    .menuItem {
        border-radius: 0.5rem;
        color: var(--primary);
        font-size: 1.1rem !important;
        padding: 0.75rem;
        width: 100%;
        cursor: pointer;
        &:hover{
            background: var(--primary);
            color: var(--background-light);
        };
    
    }   
    .menuItemContainer {
        width: 100%;
        padding: 0.1rem 0rem !important;
    }     
    
}

.active{
    background: var(--primary);
    color: var(--background-light);
};
