// CONTENT
.content {
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    position: relative;
}
.overscroll {
    height:5rem;
    bottom: 100%;
    width: 100%;
    position: absolute;
}
@media screen and (max-width: 768px) {
    .content {
        padding-top: 4rem !important;
    }
}
.line {
    width: 99%;
    height: 1px;
    background: var(--text-dark);
    opacity: 0.3;
}

.dashVertical {
    width: 1px;
    height: 1.3rem;
    background: var(--text-dark);
    opacity: 0.5;
}
.subtitleContainer {
    width: 100%;
}
.titleOption {
    padding: 0 0.5rem !important;
    opacity: 0.5;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}
.subtitle {
    opacity: 0.5;
}
.icon {
    height: 1.2rem;
    width: 1.2rem;
}
.section {
    width: 95%;
    .title {
        padding: 0.5rem 1rem !important;
        width: 100%;
        position:sticky;
        top: 0;
        left: 0;
        z-index: 1;
        background: var(--background-light);
    }
}

// ACTIONS
.actions {
    width: 100%;
    flex-wrap: wrap;
    padding: 0.25rem;
    .dividerContainer {
        height: 100%;
        padding: 0.5rem;
    }
    .divider {
        height: 70%;
        width: 1px;
        background: var(--text-dark);
        opacity: 0.3;
    }
}
.actionContainer {
    padding: 0.5rem !important;
}

.action {
    height: 8rem;
    width: 8rem;
    border-radius: 0.5rem;
    background: var(--background-medium);
    color: var(--primary);
    justify-content: center !important;
    cursor: pointer;
    &:hover {
        background: var(--primary-dark);
        color: var(--background-light);
    }
    .icon {
        height: 2.5rem;
        width: 2.5rem;
    }
}
.disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
        background: var(--background-medium);
        color: var(--primary);
    }
}

.selectContainer {
    padding: 0.5rem;
    cursor: pointer;
}
.checkContainer {
    padding: 0 0.5rem;
}
.icon {
    color: var(--primary);
}

@media screen and (max-width: 768px) {
    .actions {
        justify-content: center !important;
        .dividerContainer {
            width: 100%;
            height: unset;
            padding: 0.25rem;
        }
        .divider {
            width: 70%;
            height: 1px;
        }    
    }
    .actionContainer {
        flex-grow: 1;
    }
    .action {
        width: 100%;
    }
    .title {
        justify-content: space-between !important;
    }
    .exportActions {
        width: 100%;
        .actionContainer {
            width: 50%;
        }
    }
    .section {
        width: 100%;
    }    

}
.gallery {
    width: 100%;
    padding: 1rem !important;
}
.emptyGallery {
    opacity: 0.5;
}
