//HEADER
.header {
    display: none !important;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background: var(--background-light);
    height: 4rem;
}
.headerItem {
    padding: 0 1rem !important;
    color: var(--primary);
}

@media screen and (max-width: 768px) {
    .header {
        display: flex !important;
    }
}
