@import '../../Content.module.scss';

.content {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    padding: 0.5rem !important;
    justify-content: flex-start !important;
    overflow: auto;
    position: relative;
    flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
    .content {
        padding-top: 1rem !important;
    }
}
.title {
    justify-content: space-between !important;
}

