.page {
    position: relative;
    padding: 1rem 0;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}
.header {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 1rem;
}

.back {
    padding: 1rem;
    color: var(--primary);
    cursor: pointer;
}
// .titleContainer {
//     // flex-grow: 1;
// }
.heading {
    padding: 1rem!important;
}
.contentContainer {
    width: 100%;
    padding: 2rem !important;
}
.content {
    text-align: center;
    width: 70%;
    justify-content: center;
    .buttonContainer {
        display: none !important;
    }
}
.letterContainer {
    padding: 1rem;
}
.letter {
    width: 12vw;
    height: 18vw;
    border-radius: 10rem;
    background: var(--background-dark);
}
.flashingBar {
    width: 1px; /* Thickness of the bar */
    height: 40%; /* Height of the bar */
    background-color: black; /* Color of the bar */
    animation: flash 1s step-start infinite; /* Animation properties */
  }
  
  /* Keyframes for flashing */
  @keyframes flash {
    0% {
      opacity: 1; /* Bar is visible */
    }
    50% {
      opacity: 0; /* Bar is invisible */
    }
    100% {
      opacity: 1; /* Bar is visible again */
    }
}
.letterText {
    font-size: 4rem !important;
}
.input {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}
@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
    .contentContainer {
        width: 100%;
    }
    .letter {
        width: 18vw;
        height: 27vw;
        border-radius: 10rem;
    }
    .letterText {
        font-size: 2.5rem !important;
    }    
    .letterContainer {
        padding: 0.5rem;
    }    
}