.footer {
    width: 100%;
    min-height: 40vh;
    flex-wrap: wrap;
    background: var(--primary-dark);
    color: var(--background-light);
}

.branding {
    width: 30%;
    text-align: left;
    @media (max-width: 768px) {
        width: 100%;
    }
}
.brandingRow {
    width: 100%;
    padding: 1rem;
}

.link {
    cursor: pointer;
    text-decoration: none;
    color: var(--background-light);
    opacity: 0.8;
    
    &:hover {
        opacity: 1;
    }
}

.actionButton {
    background: var(--primary);
    color: var(--background-light);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
}
