.gallery {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 15vh;
    grid-gap: 0.25rem;
    width: 100%;
}
.vertical {
    grid-row: span 2;
}
.imageContainer {
    height:100%;
    width: 100%;
    cursor: pointer;
}
.image {
    width: 100% !important; /* Ensures the image spans the full width of the cell */
    height: 100% !important; /* Ensures the image spans the full height of the cell */
    object-fit:cover;
}

.lightBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    left: 0;
}
.lightBoxBackground {
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Adds blur effect */
    // background-color: rgba(var(--primary) 0.3); /* Adjust color and opacity */
}
.lightBoxImage {
    width: auto !important;
    max-width: 80% !important; /* Ensures the image spans the full width of the cell */
    max-height: 80% !important; /* Ensures the image spans the full height of the cell */
    object-fit:contain;
    z-index: 10;
}
