.gallery {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 15vh;
    grid-gap: 0.25rem;
    width: 100%;
}
.vertical {
    grid-row: span 2;
}
.imageContainer {
    height:100%;
    max-width: 25vw;
    width: 100%;
    cursor: pointer;
    position: relative;
}
.image {
    width: 100% !important; /* Ensures the image spans the full width of the cell */
    height: 100% !important; /* Ensures the image spans the full height of the cell */
    object-fit:cover;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE */
    user-select: none;          /* Standard */  
    pointer-events: none;       /* Prevent long-press interaction */
    touch-action: none; /* Disable zoom and gestures */
}

.lightBox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    left: 0;
}
.lightBoxBackground {
    position: absolute;
    width: 100%;
    cursor: pointer;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Adds blur effect */
}
.lightBoxImage {
    max-width: 80% !important; /* Ensures the image spans the full width of the cell */
    max-height: 80% !important; /* Ensures the image spans the full height of the cell */
    height:100% !important;
    object-fit:contain;
    z-index: 10;
}
.selectedImageMenuContainer {
    width: 100%;
    position: fixed;
    bottom: -4rem;
    z-index: 10;
    background: var(--background-light);
    left: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0 1.25rem -1rem black;
}
.selectedImageActionsContainer {
    padding: 0 1rem !important;
    height: 4rem;
    width: 100%;
    justify-content: space-between !important;
}
.actionIcon {
    color: var(--primary);
    height: 1.25rem;
}
.menuSpace {
    height: 4rem;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .lightBoxImage {
        width: 100% !important;
        height:auto !important;
    }
    .imageContainer {
        max-width: unset;
    }
    
}
.checkContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-top: 2rem solid var(--primary); /* Adjust color to match border */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--background-light);
  }
.border {
    border: 0.5rem solid var(--primary);
}