.selectedImageMenuContainer {
    width: 100%;
    top: calc(100vh - 5rem);
    position: fixed;
    z-index: 10;
    background: var(--background-light);
    left: 0;
    border-radius: 0.5rem 0.5rem 0 0;
    box-shadow: 0 0 1.25rem -1rem black;
    transition: bottom 0.3s ease-in-out;
}
.selectedImageActionsContainer {
    padding: 0 1rem !important;
    height: 5rem;
    width: 100%;
    justify-content: space-between !important;
}
.selectedMenuOpen {
    bottom: 0 !important;
    top: unset !important;
}
.iconContainer {
    padding: 0 1rem !important;
    color: var(--primary);
}
.actionIcon {
    color: var(--primary);
    height: 1.5rem;
    width: 1.5rem;
}
.menuSpace {
    height: 5rem;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .selectedImageMenuContainer {
        top: calc(100vh - 4rem);
    }
    .selectedImageActionsContainer {
        padding: 0 1rem !important;
        height: 4rem;
    }
    .iconContainer {
        padding: 0 0.5rem !important;
        color: var(--primary);
    }
    .actionIcon {
        height: 1.25rem;
        width: 1.25rem;
    }
    .menuSpace {
        height: 4rem;
    }    
    
}

