@import '../Content.module.scss';

.active {
    opacity: 1;
}

.backText {
    padding: 0 0.5rem !important;
}

.tab {
    flex-grow: 1;
    width: 100%;
    padding: 1rem !important;
}

.nameContainer {
    width: 100%;
    padding: 0.5rem 1rem;
    position: sticky;
    top: 0;
    background: var(--background-light);
    z-index: 1;
    justify-content: space-between !important;
}

.backIconContainer {
    cursor: pointer;
}
.titleContainer {
    position: sticky;
    width: 100%;
    top: 0;
    background: var(--background-light);
    z-index: 1;
}    
@media screen and (max-width: 768px) {
    .title {
        justify-content: space-between !important;
    }        
    .tab {
        padding: 0.25rem !important;
    }
}