.page {
    padding: 1rem 0;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
}
.header {
    padding: 1rem!important;
}
.titleContainer {
    width: 30%;
}
.content {
    flex-grow: 1;
    text-align: center;
    padding: 1rem;
    width: 70%;
    height:100%;
    justify-content: center;
    overflow: auto;
    .buttonContainer {
        display: none !important;
    }
}
.contentTitle {
    padding: 1rem;
    width: 100%;
}
.galleriesContainer {
    width: 100%;
    overflow: auto;
}
.galleryContainer {
    padding: 0.5rem !important;
    width: 100%;
}
.gallery {
    width: 100%;
    cursor: pointer;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px -12px black;
    &:hover {
        background: var(--background-dark);
    }
}
.galleryImage {
    padding: 0.5rem;
}
.galleryDetails {
    padding: 0.5rem;
    flex-grow: 1;
}
.galleryName {
    width: 100%;
}
.galleryDate {
    width: 100%;
}
// .separator {
//     width: 100%;
//     height: 1px;
//     background: var(--primary-light);
//     flex-shrink: 0;
// }

.addGalleryContainer {
    padding: 1rem;
    width: 100%;
}
.addGalleryText {
    color: var(--primary);
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
        font-weight: 600 !important;
        text-decoration: underline !important;
    }
}
.addGallery {
    text-decoration: none;
}
.logoutText {
    color: var(--background-light);
}
@media screen and (max-width: 768px) {
    .page {
        flex-direction: column !important;
        justify-content: flex-start !important;
    }
    .content {
        width: 100%;
        .buttonContainer {
            display: flex !important;
        }
    }
    .contentContainer {
        width: 100%;
    }
    .titleContainer {
        width: 100%;
    }
}