
// HEADING
.heading {
    width: 100%;
    flex-wrap: wrap;
}
.actionContainer {
    .iconContainer {
        padding: 0.5rem;
        color: var(--primary);
        border-radius: 0.5rem;
        cursor: pointer;
        &:hover {
            background: var(--primary);
            color: var(--background-light);
        }
    }
}
.dashVertical {
    width: 1px;
    height: 1.3rem;
    background: var(--text-dark);
    opacity: 0.5;
}


@media screen and (max-width: 768px) {
    .titleContainer {
        text-align: center;
        width: 100%;
        .title {
            justify-content: center !important;
        }
        .titleText {
            font-size: 2rem !important;

        }
        .subtitleContainer {
            justify-content: center !important;
        }
    }
    .heading {
        justify-content: center !important;
        // .actionContainer {
        //     display: none !important;
        // }
        .qrContainer {
            display: none !important;
        } 
    }
}