.upload {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0.5rem !important;
    background: var(--background-light);
}
.header {
    width: 100%;
    padding: 0.5rem 1rem;
    justify-content: space-between !important;
}
.headerIcon {
    height: 2.5rem;
}
.icon {
    height:100% !important;
    width: auto !important;
    color: var(--primary);
}
.infoText {
    opacity: 0.5;
}
.headerTitle {
    flex-grow: 1;
    flex-wrap: wrap;
}
.action {
    .icon {
        display: none !important;
    }
}
.albumName {
    color: var(--primary);
    font-weight: 600 !important;
}
.checkIcon {
    color: var(--primary) !important;
}
@media screen and (max-width: 768px) {
    .action {
        .button {
            display: none !important;
        }
        .icon {
            display: flex !important;
        }
    }
    .headerTitle {
        justify-content: center !important;
    }
    .title {
        width: 100%;
    }
    .titleText {
        font-size: 1.7rem !important;
    }
    .headerIcon {
        height: 1.5rem;
    }
}
.title {
    padding: 0 1rem;
}
.titleText {
    font-size: 3rem;
    font-weight: 500;
}
.button {
    padding: 1rem;
}
.content {
    width: 100%;
    padding: 1rem !important;
    flex-grow: 1;
}
.separator {
    width: 100%;
}
.separatorTitle {
    width: 100%;
    padding: 0.5rem;
    .mediaInfo {
        display: none !important;
    }
}
.separatorLine {
    width: 100%;
    height: 1px;
    background: var(--text-dark);
    opacity: 0.3;
}
.actionBar {
    width: 100%;
    padding: 0.5rem;
    flex-wrap: wrap;
}
.galleryContainer {
    width: 100%;
    overflow: auto;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .separatorTitle {
        .mediaInfo {
            display: flex !important;
        }
    }    
    .actionBar {
        .mediaInfo {
            display: none !important;
        }
    }
}
.mediaInfo {
    flex-grow: 1;
    justify-content: flex-end !important;
    padding: 0 1rem !important;
}
.mediaType {
    padding: 0 0.5rem !important;
    opacity: 0.5;
}
.albumCheck {
    padding: 1rem !important;
}
@media screen and (max-width: 768px) {
    .albumCheck {
        width: 100%;
    }
}