// PAGE
.body {
    width: 100%;
    position: relative;
    min-height: 100vh;
    text-align: center;
    background-image: url('/backgrounds/background.jpg');
    background-size: 100% 100%;
    background-repeat: repeat;
}
.link {
    text-decoration: none;
}
.header {
    // height: 7vh;
    width: 100%;
    z-index: 10;
    position: fixed;
    top:0;
    left: 0;
    padding: 0.5rem;
}

.wordmarkContainer {
    height: 100%;
}
.section {
    width: 100%;
}
.actionButton {
    background: var(--primary);
    color: var(--background-light);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
}
.heading {
    width: 50vw;
}
.subheading {
    width: 50vw;
}


// HERO
.hero {
    margin-top: 7vh;
}
.textContainer {
    width: 70vw;
}
.heroHeadingText {
    text-align: center;
}
.heroHeadingText {
    font-size: 4rem !important;
    margin: 1rem 0;
}

// HIGHLIGHT
.tabs {
    flex-wrap: wrap;
}
.tab {
    border-bottom: var(--primary-light) solid 1px;
    width: 25vw;
    padding: 0.5rem;
    cursor: pointer;
}
.active {
    border-bottom: var(--primary) solid 2px;
}
.tabText {
    font-size: 1.5rem !important;
}
.highlights {
    padding: 3rem 0;
}
.subheadingText {
    font-size: 1.7rem !important;
    margin: 0.5rem 0;
}

.headingText {
    font-size: 3rem !important;
}
.highlightText {
    color: var(--primary);
}
.title {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
}
.subtitle {
    font-size: 1.5rem !important;
}
.highlightContainer {
    height: 70vh;
    min-height: 500px;
    width: 30vw;
    min-width: 350px;
    padding: 1rem;
}
.highlightsList {
    flex-wrap: wrap;
    padding: 1rem 0rem;
}
.media {
    flex-grow: 1;
    width: 100%;
}
.image {
    width: 50% !important;
}

.highlight {
    background: var(--background-light);
    border-radius: 1rem;
    box-shadow: 0 0 1.25rem -1rem black;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.highlightScreenshotContainer {
    padding: 0.5rem;
}

.highlightScreenshot {
    box-shadow: 0 0 1.25rem -1rem black;
    border-radius: 0.5rem;
}
// EXAMPLES
.examples {
    width: 100%;
}

.examplesList {
    width: 100%;
}

.exampleContainer {
    width: 100%;
    padding: 1rem;
}
.example {
    width: 100%;
    flex-wrap: wrap;
}

.exampleDetails {
    width: 50%;
    align-items: flex-end !important;
}
.exampleMedia {
    width: 50%;
}
.exampleImage {
    width: 60% !important;
}
.reverse {
    .exampleDetails {
        align-items: flex-start !important;
    }
    flex-wrap: wrap-reverse;
}

// USES

.uses {
    background: var(--background-light);
    width: 100%;
    height: 30vh;
}

.carousel {
    overflow: hidden;
    width: 100%;  
}
.carouselTrack {
    animation: scroll 15s linear infinite;
    width: 100%;
    justify-content: flex-start !important;
}
.use {
    flex: 0 0 auto;     /* Prevent items from shrinking */
    padding: 1rem 2rem;
    white-space: nowrap; /* Prevent text wrapping */
    font-size: 1.2rem;
    font-weight: 500;
  }
.useText {
    font-size: 1.9rem !important;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
  
// ALBUMS

.albums {
    height: 100vh;
    width: 100%;
    position: relative;
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px); 
    background: url('/backgrounds/albums.jpg') center/cover;
    opacity: 0.5;
    z-index: -1;
}
.albumImage {
    width: 50% !important;
    box-shadow: 0 0 1.25rem -1rem black;
}

//SHARE

.share {
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 2rem !important;

    .product {
        position: relative;
    }
}
.shareCards {
    flex-wrap: wrap;
}

.shareCard {
    background: var(--background-medium);
    width: 25vh;
    height:25vh;
    justify-content: center !important;
    border-radius: 0.5rem;
    box-shadow: 0 0 1.25rem -1rem black;
    color: var(--primary);
}
.iconContainer {
    height:60%;
    width: 100%;
}
.icon {
    height:100%;
}
.magnifyContainer {
    position: absolute;
    height: auto;
    width: 10vw;
    top: 40%;
    left: 60%;
}
.magnify {
    width: 100% !important;
}

.detail {
    position: absolute;
    color: var(--primary-dark);
    width: 20vw;
}
.detailIcon {
    height: 7vh;
}

// APP

.app {
    min-height: 100vh;
    width: 100%;
    position: relative;
}
.appImage {
    width: 50% !important;
    justify-content: flex-end !important;
}
.appDetailsContainer {
    width: 100% !important;
}
.appDetails {
    width: 50% !important;
}
.appDetail {
    width: 75% !important;
    padding: 0.5rem 0 !important;
    .title {
        padding: 1rem 0;
        width: 100%;
        justify-content: flex-start !important;
        font-size: 2rem !important;
    }
    .description {
        width: 100%;
        justify-content: flex-start !important;
        text-align: left !important;
        font-size: 1.3rem;
    }
}

// NOTIFICATIONS

.notificationMedia {
    width: 100%;
}
.notificationImage {
    width: 40% !important;
}

// FOOTER

.footer {
    width: 100%;
    height: 40vh;
    background: var(--primary-dark);
    color: var(--background-light);
}

.branding {
    width: 30%;
    text-align: left;
}
.brandingRow {
    width: 100%;
    padding: 1rem;
}
.weddingWebsiteImagesContainer {
    width: 100%;
    flex-grow: 1;
    padding: 2rem 0 !important;
    flex-wrap: wrap;
    justify-content: center !important;
}
.weddingWebsiteImageContainer {
    width: 30%;
    min-width: 15rem;
    flex-shrink: 0;
}
.weddingWebsiteImage {
    width: 100%;
    height: 8rem;
    box-shadow: 0 0 1.25rem -1rem black;
    border-radius: 1rem;
    background: var(--background-light);
}

@media only screen and (max-width: 600px) {
    .header {
        .action {
            display: none !important;
        }
    };
    .subheadingText {
        font-size: 1.4rem !important;
        margin: 0.5rem 0;
    }    
    .textContainer {
        width: 100%;
    }
    .heroHeadingText {
        font-size: 3rem !important;
    }
    .heading {
        width:100%;
    }
    .subheading {
        width: 100%;
    }
    .tabs {
        width: 100%;
    }
    .tab {
        border-bottom: var(--primary-light) solid 1px;
        min-width: 30%;
        width: unset;
        flex-grow: 1;
        max-width: 50%;
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
        cursor: pointer;
    }
    .active {
        border-bottom: var(--primary) solid 2px;
    }
    .tabText {
        font-size: 1.1rem !important;
    }
    
    .uses {
        height: unset;
    }    

    .carouselTrack {
        animation: scroll 5s linear infinite;
    }
    
    .highlightContainer {
        width: 100%;
        height: 60vh;
        min-height: 550px;
    }
    .title {
        font-size: 2.3rem !important;
    }
    .subtitle {
        font-size: 1.7rem !important;
    }

    .headingText {
        font-size: 2.3rem !important;
    }
    .albumImage {
        width: 100% !important;
    }
    .details {
        display: none !important;
    }
    .example {
        .exampleDetails {
            width: 100% !important;
            align-items: center !important;
        }
        .exampleMedia {
            width: 100% !important;
        }
        .exampleImage {
            width: 100% !important;
        }
    }
    .appDetailsContainer {
        flex-wrap: wrap;
    }
    .appImage {
        width: 100% !important;
    }
    .appDetails {
        width: 100% !important;
    }
    .appDetail {
        width: 100% !important;
        .title {
            justify-content: center !important;
        }
        .description {
            justify-content: center !important;
            text-align: center !important;
        }
    }
    .notificationImage {
        width: 100% !important;
    }    
    .footer {
        .branding {
            width: 100%;
        }
    }
    .share {
        padding: 1rem !important;
    }
    .shareCards {
        width: 100%;
    }

    .shareCard{
        width: 40vw;
        height: 40vw;
    }
    
    
    .magnifyContainer {
        position: relative;
        top: unset;
        left: unset;
        padding: 1rem;
        width: 100%;
        width: unset;
    }
    .magnify {
        position: relative;
        height: 40vw !important;
        width: 40vw !important;
        top: unset;
        left: unset;
    }
    .weddingWebsiteImageContainer {
        width: 100%;
    }
    

    
}