.page {
    padding: 1rem 0;
    flex-wrap: wrap;
    position: relative;
    min-height: 100%;
}
.actionHeader {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    padding: 1.5rem;
}
.personPage {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    z-index: 10;
    background: var(--background-light);
}
.editPage {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-wrap: wrap;
    z-index: 10;
    overflow:auto;
    background: var(--background-light);
}
.backButton {
    cursor: pointer;
}
.form {
    text-align: center;
    width: 70%;
    justify-content: center;
    .buttonContainer {
        display: none !important;
    }
    flex-direction: column !important;
    padding: 1rem !important;
}
.inputContainer {
    width: 100%;
    padding: 0.5rem;
}
.galleryNamePrompt {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
}
.url {
    text-align: left;width: 100%;
    color: var(--primary-dark);
}
.back {
    cursor: pointer;
}
.buttonContainer {
    padding: 2rem !important;
}
.button {
    min-width: 100px;
    padding: 0.5rem !important;
    background: var(--primary);
    color: var(--background-light);
    border-radius: 0.5rem;
}
.header {
    padding: 1rem!important;
}
.headerBar {
    padding: 1rem!important;
    width: 100%;
    position: absolute;
    top: 0;
}

.contentContainer {
    width: 50%;
    padding: 2rem !important;
}
.section {
    width: 80%;
    padding: 1rem 0.5rem !important;
}
.qrcode {
    width: 50% !important;
    max-width: 180px; 
}
.linkContainer {
    background: var(--background-medium);
    color: var(--primary-dark);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:hover {
        background: var(--primary);
        color: var(--background-light);
      }
    
      &:active {
        background: var(--primary);
        color: var(--background-light);
    }    
}
.linkIcon {
    padding: 0 1rem;
}
.icon {
    height:1rem;
    width: 1rem;
}
.qrCode {
    height: 3rem;
    width: 3rem;
    color: var(--primary);
}
.validationTextContainer {
    padding: 1rem 1rem;
    flex-wrap: wrap;
}
.validationText {
    font-size: 1.4rem;
    text-align: center;
}
.validationLink {
    padding: 0 0.5rem;
    font-weight: 500;
    color: var(--primary);
    cursor: pointer;
    &:hover {
        font-weight: 600 !important;
        text-decoration: underline !important;
    }
}
.confirmIcon {
    color: var(--success);
    height: 2rem;
}
@media screen and (max-width: 768px) {
    .form {
        width: 100%;
        .buttonContainer {
            display: flex !important;
        }
    }
    .contentContainer {
        width: 100%;
    }
    .titleContainer {
        .buttonContainer {
            display: none !important;
        }
    }
}