
// SIDEBAR
.tutorialPage {
  z-index: 110;
  width: 100%;
  height: 100dvh;
  position: fixed;
  top: 0;
  left:0;
  padding: 0.5rem !important;
  background: var(--background-medium);
}
.header {
  width: 100%;
}
.headerIcon {
  color: var(--primary);
  cursor: pointer;
}
.contentContainer {
  width: 100%;
  flex-grow: 1;
  justify-content: flex-start !important;
  overflow: auto;
  scroll-snap-type: x mandatory; /* For horizontal scrolling */
}
.sectionContainer {
  width: 70%;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  scroll-snap-type: x mandatory; /* For horizontal scrolling */
  padding: 1rem;
}
.section {
  width: 100%;
  padding: 1rem;
  background-color: var(--background-light);
  border-radius: 1rem;
  flex-grow: 1;
  justify-content: flex-start !important;
  overflow: auto;
  scroll-snap-type: x mandatory; /* For horizontal scrolling */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.sectionTitle {
  width: 100%;
  justify-content: flex-start !important;
  overflow: auto;
}
.sectionIcon {
  padding: 1rem;
}
.sectionTitleText {
  flex-grow: 1;
  justify-content: flex-start !important;
  overflow: auto;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--primary);
}
.sectionContent {
  width: 100%;
  padding: 1rem 0;
  justify-content: flex-start !important;
  overflow: auto;
}
.sectionContentItem {
  width: 100%;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  overflow: auto;
}
.sectionStepNumber {
  height: 100%;
  width: 10%;
}
.sectionStep {
  height: 100%;
  width: 90%;
}
.sectionStepItemImageContainer {
  padding: 1rem;
}
.sectionStepItemImage {
  width: 12rem;
  max-height: 8rem;
  object-fit: contain;
}
.sectionDivider {
  width: 100%;
  height: 1px;
  background-color: var(--primary-dark);
}

@media only screen and (max-width: 768px) {
  
  
}
.colorContainer {
  padding: 0.25rem;
  &:hover {
      padding:0.0;
  }
}