@import '../Welcome.module.scss';

.form {
  flex-direction: column !important;
}
.page {
  position: relative;
}
.actions {
  position: absolute;
  padding: 2rem 1rem 0rem 1rem;
  top: 0;
  left: 0;
  width: 100%;
}
.submitButton {
  width: 100%;
}
.backButtonText {
  padding-left: 0.5rem;
}
.backButton {
  cursor: pointer;
}
.submitButtonContainer {
  padding: 1rem 0;
  width: 100%;
}

@media (max-width: 768px) {
  .contentContainer {
    padding: 1rem !important;
  }
}